#keyboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  margin: 0 0;
}

.key {
  align-items: center;
  background-color: #ffffff; 
  box-sizing: border-box;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  font-size: 1em;
  height: 40px;
  justify-content: center;
  padding: 10px 14px;
  margin: 3px;
  transition: background-color 0.2s ease;
  width: 40px;
}

.key:hover {
  background-color: #bbb;
}

.key.green {
  background-color: rgba(8, 146, 8, 0.707);
  color: white;
}

.key.yellow {
  background-color: rgba(255, 226, 41, 0.942);
  color: white;
}

.key.gray {
  background-color: rgb(193, 192, 192);
  color: white
}

.key.dark-gray {
  background-color: #6b6b6b;
}

.key.special {
  width: 60px;
  background-color: white;
  color: black;
}

.key.disable {
  pointer-events: none;
}