#popup-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  color: #333;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index: 1000;
  font-size: 1.2em;
  text-align: center;
  transition: opacity 0.3s ease;
}

.dark-mode #popup-container {
  background-color: #222;
  color: #fff;
}