body {
  background-color: #ffffff;
  color: #000000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .tile {
  background-color: #333;
  border-color: #666;
}

.show {
  opacity: 1;
  visibility: visible;
}

#game-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  width: 400px;
}

#header-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

#title {
  flex-grow: 1;
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 100px;
  text-align: center;
}

#dark-mode-toggle {
  border: 2px solid #333;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  margin-right: 27px;
  padding: 2px 2px;
  user-select: none;
  transition: background-color 0.3s ease;
}

#dark-switch {
  display: none;
}

#dark-switch:checked + #dark-mode-label {
  color: #fff;
}