.tile {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 2px;
  display: inline-block;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  margin: 5px;
  text-align: center;
  transition: transform 0.6s ease-in-out, background-color 0.3s ease;
  transform-style: preserve-3d;
  vertical-align: middle;
  width: 50px;
}

.tile.flip {
  transform: rotateX(90deg);
}

/* Behavior */
.tile.disabled {
  pointer-events: none;
  opacity: 0.3;
}

/* Dark-mode settings */
.dark-mode .tile {
  background-color: #333;
  border-color: #666;
}

.tile.green {
  background-color: rgba(8, 146, 8, 0.707);
}

.tile.yellow {
  background-color: rgba(255, 226, 41, 0.942);
}

.tile.gray {
  background-color: rgb(193, 192, 192);
}