.tile {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 2px;
  display: inline-block;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  margin: 5px;
  text-align: center;
  vertical-align: middle;
  width: 50px;
}

.dark-mode .green {
  background-color: rgba(8, 146, 8, 0.707);
}

.dark-mode .yellow {
  background-color: rgba(255, 226, 41, 0.942);
}

.dark-mode .gray {
  background-color: rgb(193, 192, 192);
}

.tile.disabled {
  pointer-events: none;
  opacity: 0.5;
}